.header {
  background-color: #333;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0; 
}

.header:hover {
  background-color: #444;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0 1rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav-link:hover {
  color: #61dafb;
  transform: scale(1.1);
}

.nav-link button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav-link button:hover {
  color: #61dafb;
  transform: scale(1.1);
}

.login-btn {
  background-color: white;
  color: #333;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-right: 0.5rem;
}

.signup-btn {
  background-color: blue;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.header-right {
  margin-right: 1rem;
}
